@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'foundation/foundation.scss';

@font-face {
  font-family: 'NotoSansJp';
  src: url(../fonts/NotoSansJP-VF-palt.woff2) format('woff2');
}

body {
  font-family: 'NotoSansJP';
  font-feature-settings: 'palt';
}

$weightList: (100, 200, 300, 400, 500, 600, 700, 800, 900);

@each $weight in $weightList {
  .fw-#{$weight} {
    h1,
    h2,
    h3,
    b,
    strong {
      font-weight: $weight;
    }
  }
  .fvs-#{$weight} {
    h1,
    h2,
    h3,
    b,
    strong {
      font-weight: normal;
      font-variation-settings: 'wght' $weight;
    }
  }
}
